/project_one/src/node_modules
/project_one/src/public/hotjen
/project_one/docker_volumes
/project_one/src/public/storage
/project_one/src/public/assets
/project_one/src/storage/*.key
/project_one/src/vendor
/project_one/src/.env
/project_one/src/.phpunit.result.cache
/project_one/src/Homestead.json
/project_one/src/Homestead.yaml
/project_one/src/npm-debug.log
/project_one/src/yarn-error.log


/project_two/src/node_modules
/project_two/src/public/hotjen
/project_two/docker_volumes
/project_two/src/public/storage
/project_two/src/public/assets
/project_two/src/storage/*.key
/project_two/src/vendor
/project_two/src/.env
/project_two/src/.phpunit.result.cache
/project_two/src/Homestead.json
/project_two/src/Homestead.yaml
/project_two/src/npm-debug.log
/project_two/src/yarn-error.log

/.idea
/.vscode
mysql/*
